<div class="update-info-modal" id="update_info_modal">
    <div class="p-relative centroid content">
        <table>
            <form action="/user/me/update" id="update_info_form" action="" method="POST" enctype="multipart/form-data">
                <tr>
                    <td class="" align="right">
                        <div class="m-sm avatar-box">
                            <% if (user.google_avatar) { %>
                                <img id="preview_avatar" class="preview_avatar" src="<%= user.google_avatar %>">
                            <% } else { %>
                                <img id="preview_avatar" class="preview_avatar"
                                     src="data:image/<%= user.avatar.contentType %>;base64,<%= user.avatar.data.toString('base64') %>">
                            <% } %>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="font-lg"><%= user.email %></div>
                            <div class="div-controll font-sm font-strong color-main" id="update-avatar">
                                Đổi ảnh đại diện
                            </div>
                            <input type="file" onchange=" $('#preview_avatar').attr('src', window.URL.createObjectURL(this.files[0]))" name="new_avatar" id="update-avatar-hidden" class="hidden">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="al-right">
                        <div class="m-sm font-strong">
                            Tên hiển thị
                        </div>
                    </td>
                    <td>
                        <div>
                            <input name="full_name" class="border-tiny radius-sm pd-5-10" type="text" value="<%= user.full_name %>">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >
                    </td>
                    <td>
                        <p class="font-sm">
                            Hãy sử dụng tên mà mọi người dễ nhận ra bạn,<br>  tránh sử dụng các ký tự đặc biệt.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="al-right">
                        <div class="m-sm font-strong">
                            Khoa
                        </div>
                    </td>
                    <td>
                        <div>
                            <input value="<%= user.faculty %>" name="faculty" class="border-tiny radius-sm pd-5-10" type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="al-right">
                        <div class="m-sm font-strong">
                            Lớp
                        </div>
                    </td>
                    <td>
                        <div>
                            <input value="<%= user.class_id %>" name="class_id" class="border-tiny radius-sm pd-5-10" type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="al-right">
                        <div class="m-sm font-strong">
                            Mật khẩu
                        </div>
                    </td>
                    <td>
                        <div>
                            <input name="password" class="border-tiny radius-sm pd-5-10" type="password">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="al-right">
                        <div class="border-tiny radius-sm pd-5-10 w-100 cancel-update-sm-btn m-sm btn" onclick="closeUpdateModal()">Huỷ</div>
                    </td>
                    <td>
                        <button class="border-tiny radius-sm pd-5-10 w-100 update-sm-btn" type="submit">Cập nhật</button>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
