<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="shortcut icon" href="/public/images/UNISOC.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="public/javascripts/main.js"></script>
</head>
<body class="container">

<div class="row main">
    <div class="col-xl-5 col-lg-4 col-md-4 p-relative">
        <div class="side-float">
            <div class="navside">
                <a href="/">
                    <div class="logo-main border-tiny border-circle">
                        <img class="" src="/public/images/UNISOC.png" alt="">
                    </div>
                </a>
                <div class="qw-notify">
                    <div class="notify-item">
                        <div class="d-flex-top">
                            <div>
                                <img class="notify-user-avatar" src="/public/images/avatar.png">
                            </div>
                            <div>
                                <strong>Tên phòng ban</strong>
                                <div>Tiêu đề thông báo</div>
                            </div>
                        </div>
                    </div>
                    <div class="al-right">
                        <br>
                        <a href="#">>> Xem tất cả</a>&emsp;
                    </div>
                </div>
                <div class="info-card">
                    <div class="user-info d-flex-top">
                        <div>
                            <div>
                                <% if (google_avatar) { %>
                                    <img id="user-avatar" class="avatar_cover" src="<%= google_avatar %>">
                                <% } else { %>
                                    <img id="user-avatar" class="avatar_cover"
                                         src="data:image/<%= avatar.contentType %>;base64,<%= avatar.data.toString('base64') %>">
                                <% } %>
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <div class="item-text">
                            <div id="user_full_name" class="item-subtitle"><strong><%= full_name %></strong></div>
                            <div class="font-sm"><%= email %></div>
                            <div>
                                <div>
                                    <a href="/user/me">
                                        <div class="div-controll font-md font-weigh-md color-main">Tài khoản</div>
                                    </a>
                                </div>
                                <div class="pdt-sm">
                                    <a class="color-danger" href="/user/logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    feed -->
    <div class="col-xl-7 col-lg-8 col-md-8 col-sm-9 col-10 no-margin p-relative">
        <div class="mt-10">
            <div class="" id="feed_list">
                <%- include('component/feed_list.ejs', {feed_list: feed_list}) %>
            </div>
        </div>

        <!-- float -->
        <div class="btn-sticky-bottom-left btn-circle-sm bg-main d-text-center blur-border hv-3d"
             onclick="openAddFeedModal()">
            &plus;
        </div>
    </div>
</div>


<div id="loading" class="loading">
    <div class="loading-overlay"></div>
    <div class="spinner"></div>
</div>

<div class="add-feed-modal centroid" id="add_feed_modal">
    <div class="overlay" onclick="closeAddFeedModal()">
    </div>
    <div class="content border-tiny bg-white">
        <form action="" id="add-feed-form">
            <div class="d-flex-top">
                <div class="m-sm d-middle-x toolbar">
                    <div class="font-strong">
                        Nội dung
                    </div>
                    <div>
                        <div class="div-controll font-md font-weigh-md color-main mt-10 btn" onclick="clickElement('add-feed-image')">Thêm ảnh</div>
                        <input name="picture" id="add-feed-image" class="hidden" type="file">
                    </div>
                    <div>
                        <button class="border-tiny radius-sm pd-5-10 w-100 update-sm-btn" type="submit">Thêm</button>
                    </div>
                </div>

                <div style="width: 100%; " class="ml-2">
                    <div
                        class="r-text border-tiny pd-sm"
                        id="feed-input-text"
                        contenteditable="True"
                    >
                        <input id="feed-input-text-hidden" name="content" type="text" class="hidden">
                    </div>
                </div>
            </div>
            <div>
            </div>
        </form>
    </div>
</div>




<footer>
</footer>


</body>
</html>