<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrator</title>
    <link rel="shortcut icon" href="/public/images/UNISOC.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
</head>
<body class="container">
<div class="row main">
    <div class="col-xl-4 col-lg-4 col-md-4 p-relative ">
        <div class="side-float">
            <div class="navside border-tiny">
                <div class="w-100">
                    <div class="logo-main-admin-display">
                        <img class="border-tiny" src="/public/images/UNISOC.png" alt="">
                    </div>
                </div>
                <div class="controller">
                    <div class="al-right controll-item active">
                        Quản lý tài khoản
                    </div>
                    <div class="al-right controll-item">
                        Quản lý thông báo
                    </div>
                    <div class="al-right controll-item">
                        Quản lý bài viết và bình luận
                    </div>
                </div>
                <div class="info-card bg-white d-middle-x">
                    <h1>Admin</h1>
                    <a class="color-danger" href="/user/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>

    <!--    feed -->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-10 no-margin p-relative">
        <div class="control-display border-tiny flex-column">
            <div>
                <form action="" id="add-acc-form">
                    <div class="ml-1">
                        <h4><strong>Thêm tài khoản mới</strong></h4>
                    </div>

                    <input type="text" class="p-sm-2 w-auto" name="full_name" id="full_name" placeholder="Tên phòng ban">
                    <input type="text" class="p-sm-2 w-auto" name="username" id="username" placeholder="Nhập username">
                    <input type="password" class="p-sm-2 w-auto" name="password" id="password" placeholder="Mật khẩu">
                    <h5 class="ml-2 font-weight-bold mt-1">Chuyên mục quản lý</h5>
                    <div class="ml-2 d-flex flex-wrap">
                        <% list_topic.forEach((topic)=> { %>
                            <div class="flex-grow-1">
                                <input name="topic" type="checkbox" class="w-auto" value="<%= topic %>">
                                <label class="w-auto"><%= topic %></label>
                            </div>
                        <% })%>
                    </div>
                        <input type="submit"  class="ml-1 w-auto p-2 pr-5 pl-5 bg-info color-white" value="Thêm">
                    <div>
                    </div>
                </form>
            </div>
            <br>
            <div class="ls-acc flex-grow-1">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Phòng/Ban</th>
                        <th>Chuyên mục quản lý</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% officers.forEach((officer, idx) => {%>
                        <tr>
                            <td><%= idx + 1 %></td>
                            <td><%= officer.full_name %></td>
                            <td>
                                <% officer.topic.forEach((topic) => {%>
                                    <%= topic %>
                                    <br>
                                <% }) %>
                            </td>
                            <td class="modify-btn">🛠</td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<%- include('../component/loading.ejs') %>

</body>
</html>