<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <link rel="shortcut icon" href="/public/images/UNISOC.png" type="image/png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
</head>
<body class="container near-white">

<%- include('../component/hidden_nav.ejs') %>

<div class="row main">
    <div class="col-xl-3 col-lg-3 col-md-2 p-relative no-margin no-padding md-d-none">
        <div class="side-float">
            <%- include('../component/user_sidebar.ejs', {user: user}) %>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 no-margin p-relative">
        <div class="border-tiny bg-white profile">
            <br>
            <div class="d-middle-x">
                <div class="d-middle profile_avatar_cover-box">
                    <% if (hoster.google_avatar) { %>
                        <img id="avatar" class="profile_avatar_cover" src="<%= hoster.google_avatar %>">
                    <% } else { %>
                        <img id="avatar" class="profile_avatar_cover"
                             src="data:image/<%= hoster.avatar.contentType %>;base64,<%= hoster.avatar.data.toString('base64') %>">
                    <% } %>
                </div>
            </div>
            <div class="d-middle-x mt-10 pb-2">
                <div class="hidden" id="hoster-id"><%= hoster._id %></div>
                <div class="font-strong font-lg"><%= hoster.full_name %></div>
                <div class="font-sm"><%= hoster.email %></div>
                <div class="">Khoa: <%= hoster.faculty %></div>
                <div class="">Lớp: <%= hoster.class_id %></div>
                <% if(user.email === hoster.email) { %>
                    <div class="div-controll font-md font-weigh-md color-main mt-10 btn" onclick="openUpdateModal()">
                        Thay đổi
                    </div>
                <% } %>
            </div>
        </div>

        <!--    feed -->
        <div class="mt-10">
            <div class="" id="feed_list">
                <%- include('../component/feed_list.ejs', {feed_list: feed_list, you: user}) %>
            </div>
        </div>

        <% if (user.email === hoster.email) { %>
            <%- include('../component/add_feed_btn.ejs') %>
        <% } %>
    </div>


    <div class="col-xl-3 col-lg-3 col-md-2 p-relative no-margin no-padding">
        <div class="side-float">
            <%- include('../component/sight_right.ejs') %>
        </div>
    </div>
</div>


<%- include('../component/edit_feed_modal.ejs') %>
<%- include('../component/cmt_confirm_delete.ejs') %>
<%- include('../component/update_info_modal.ejs', {user: user}) %>
<%- include('../component/loading.ejs') %>
<%- include('../component/add_feed_modal.ejs') %>
<%- include('../component/confirm_delete.ejs') %>

<footer>
</footer>


</body>
</html>